<h2>Post your review here</h2>

<div class="container">
  <%= render 'form', review: @review %>
  <div class="row">
    <%= link_to 'Back', restaurants_path, class:"btn btn-primary" %>
  </div>
</div>